<!DOCTYPE html>
<html>
<head lang="en" ng-app="rushuApp">
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title ng-bind="metaTitle"></title>
    <meta name="description" ng-bind="metaTitle" />
    <meta name="robots" content="noindex, follow" ng-if="noIndexFollow">
    <meta name="fragment" content="!" />

    <title>RUSHU</title>

    <link rel="stylesheet" href="css/app.css">

</head>
<body>

<body ng-controller="RootCtrl">

<div class="container" ng-show="loggedin">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span><span
                    class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <!--<a class="navbar-brand" href="http://www.jquery2dotnet.com">Brand</a>-->
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a ng-click="changeView('dashboard')"><span class="glyphicon glyphicon-home"></span>Dashboard</a>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span>My Tasks</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                        class="glyphicon glyphicon-list-alt"></span>Administer <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="changeView('users')">Users</a></li>
                        <li><a ng-click="changeView('groups')">Groups</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="loggedin" class="dropdown" ng-show="loggedin"><a href="#" class="dropdown-toggle"
                                                                              data-toggle="dropdown"><span
                        class="glyphicon glyphicon-user"></span>{{loggedUser.firstName +' ' +loggedUser.lastName }} <b
                        class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user"></span>Profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-cog"></span>Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-off"></span>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>

<!-- Actual content below header -->
<div ng-view></div>

<script src="lib/angular/angular.js"></script>
<script src="lib/angular/angular-resource.js"></script>
<script src="lib/angular/angular-route.js"></script>
<script src="lib/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
<script src="js/controller.js"></script>
<link rel="stylesheet" href="css/bootstrap.theme.css">

</body>
</html>