div.row.user-row.ng-scope {
    padding: 10px 0;
    border-bottom: 1px solid #e7e7e7;
}

div.user-row:first-child {
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
}

div.row.user-row:hover {
    background-color: rgb(248, 248, 248);
}

.dropdown-user{
    padding-top: 11px;
}

.action-row{
    margin-bottom: 15px;
}

.glyphicon{
    padding-right: 5px;
}