
<h1 class="app-name">RushuWebApp</h1>

<input type="search" class="form-control app-search" placeholder="Search.." />

<div class="scrollable">
    <div class="scrollable-content">
        <div class="list-group">
            <a ng-repeat="user in users.data | filter:query" href="#" class="list-group-item">
                <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                    <img class="img-circle"
                         src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=32"
                         alt="User Pic">
                </div>
                <div class="col-xs-8 col-sm-9 col-md-10 col-lg-10">
                    <strong>{{user.firstName}}</strong><br>
                    <span class="text-muted">{{user.email}}</span>
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 dropdown-user">
                    <a ng-click="removeUser(user)">  <i class="glyphicon glyphicon-remove text-muted"></i></a>
                </div>
            </a>
        </div>
    </div>
</div>
